:host {
  display:grid;
  grid-template-columns: 1fr 1fr
}
input[type='text'] {
  font-size: 30px;
}

th {
  background-color: orange;
  font-size:30px
}
 th, td {
    border: 1px solid purple;
    border-radius: 10px;

  }
 .firstCol {
    width:150px;
  }

#upper {
  grid-column: 1/2;
  grid-row:1
};
#lower {
  grid-column:2/3;
  grid-row:1
}
button {
  border-width:0;
  font-size: x-large;
}
.editable {
  background-color: purple;
}
.row {
  display:flex;
  margin-left:3px;

}

