<table>
  <tr>
    <td>
      <canvas class="iconic" id="ones"></canvas>
    </td>
    <td><span id="onesValueP1"></span></td>
    <td><span id="onesValueP2"></span></td>
    <td><span id="onesValueP3"></span></td>
    <td><span id="onesValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="twos"></canvas>
    </td>
    <td><span id="twosValueP1"></span></td>
    <td><span id="twosValueP2"></span></td>
    <td><span id="twosValueP3"></span></td>
    <td><span id="twosValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="threes"></canvas>
    </td>
    <td><span id="threesValueP1"></span></td>
    <td><span id="threesValueP2"></span></td>
    <td><span id="threesValueP3"></span></td>
    <td><span id="threesValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="fours"></canvas>
    </td>
    <td><span id="foursValueP1"></span></td>
    <td><span id="foursValueP2"></span></td>
    <td><span id="foursValueP3"></span></td>
    <td><span id="foursValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="fives"></canvas>
    </td>
    <td><span id="fivesValueP1"></span></td>
    <td><span id="fivesValueP2"></span></td>
    <td><span id="fivesValueP3"></span></td>
    <td><span id="fivesValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="sizes"></canvas>
    </td>
    <td><span id="sixesValueP1"></span></td>
    <td><span id="sixesValueP2"></span></td>
    <td><span id="sixesValueP3"></span></td>
    <td><span id="sixesValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="sum"></canvas>
    </td>
    <td><span id="sumValueP1"></span></td>
    <td><span id="sumValueP2"></span></td>
    <td><span id="sumValueP3"></span></td>
    <td><span id="sumValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <canvas class="iconic" id="bonus"></canvas>
    </td>
    <td><span id="bonusValueP1"></span></td>
    <td><span id="bonusValueP2"></span></td>
    <td><span id="bonusValueP3"></span></td>
    <td><span id="bonusValueP4"></span></td>
  </tr>
</table>
<table>
  <tr>
    <td> 3 KIND</td>
  </tr>
</table>
