<table id="upper">
  <tr style="font-size:30px">
    <th>Goal</th>
    <th style="max-width:40px">{{ getPlayerName(0) }}</th>
    <th style="max-width:40px">{{ getPlayerName(1) }}</th>
    <th style="max-width:40px">{{ getPlayerName(2) }}</th>
    <th style="max-width:40px">{{ getPlayerName(3) }}</th>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(0)">{{entry(0,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <div class="row">
        <app-dice [fixedValue]="2" [diceDiameter]="diceDiameter"></app-dice>
        <app-dice [fixedValue]="2" [diceDiameter]="diceDiameter"></app-dice>
        <app-dice [fixedValue]="2" [diceDiameter]="diceDiameter"></app-dice>
      </div>

    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(1)">{{entry(1,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="3" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="3" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="3" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(2)">{{entry(2,player)}}</button>
      </td>
    </ng-template>

  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="4" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="4" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="4" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(3)">{{entry(3,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="5" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="5" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="5" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(4)">{{entry(4,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(5)">{{entry(5,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <h3>TOTAL SCORE</h3>
    </td>
    <td><span id="sumValueP1"></span></td>
    <td><span id="sumValueP2"></span></td>
    <td><span id="sumValueP3"></span></td>
    <td><span id="sumValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <h3>
        BONUS
      </h3>
    </td>
    <td><span id="bonusValueP1"></span></td>
    <td><span id="bonusValueP2"></span></td>
    <td><span id="bonusValueP3"></span></td>
    <td><span id="bonusValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <h3>
        TOTAL UPPER
      </h3>
    </td>
    <td><span id="tuValueP1"></span></td>
    <td><span id="tuValueP2"></span></td>
    <td><span id="tuValueP3"></span></td>
    <td><span id="tuValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <h3> Current Throw</h3>
    </td>
    <td colspan="4">
      <app-dice [fixedValue]="current(0)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(1)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(2)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(3)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(4)" [diceDiameter]="diceDiameter"></app-dice>
      <button (click)="applyOption()">{{ApplyMsg}}</button>
    </td>
  </tr>
</table>

<table id="lower">
  <tr>
    <th>Goal</th>
    <th>{{ getPlayerName(0) }}</th>
    <th>{{ getPlayerName(1) }}</th>
    <th>{{ getPlayerName(2) }}</th>
    <th>{{ getPlayerName(3) }}</th>

  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(10)">{{entry(10,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="0" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(11)">{{entry(11,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(12)">{{entry(12,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="2" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="3" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="4" [diceDiameter]="diceDiameter"></app-dice>

    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(13)">{{entry(13,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="1" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="2" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="3" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="4" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="5" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(14)">{{entry(14,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="6" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(15)">{{entry(15,player)}}</button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <app-dice [fixedValue]="current(0)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(1)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(2)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(3)" [diceDiameter]="diceDiameter"></app-dice>
      <app-dice [fixedValue]="current(4)" [diceDiameter]="diceDiameter"></app-dice>
    </td>
    <ng-template ngFor let-player [ngForOf]='[0,1,2,3]'>
      <td>
        <button (click)="choseRow(16)">{{entry(16,player)}}</button>
      </td>
    </ng-template>

  </tr>
  <tr>
    <td>
      <h3> YAHTZEE BONUS</h3>
    </td>
    <td><span id="ybonusValueP1"></span></td>
    <td><span id="ybonusValueP2"></span></td>
    <td><span id="ybonusValueP3"></span></td>
    <td><span id="ybonusValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <h3> TOTAL LOWER</h3>
    </td>
    <td><span id="tlValueP1"></span></td>
    <td><span id="tlValueP2"></span></td>
    <td><span id="tlValueP3"></span></td>
    <td><span id="tlValueP4"></span></td>
  </tr>
  <tr>
    <td>
      <h3> GRAND TOTAL</h3>
    </td>
    <td><span id="gtValueP1"></span></td>
    <td><span id="gtValueP2"></span></td>
    <td><span id="gtValueP3"></span></td>
    <td><span id="gtValueP4"></span></td>
  </tr>
</table>
