:host {
  display:grid;
  grid-template-columns: 1fr 1fr
}

input[type='text'] {
  font-size:1em;
  background-color: blue;
}

@media only screen and (max-width: 1000px) and (max-height: 1000px) {
  input[type='text'] {
    font-size: 0.5em;
    background-color: red;
  }
}
.mobileText {
  font-size:1em;
  color:yellow;
}
.desktopText {
  font-size: 1em;
}


th {
  background-color: orange;
  font-size:1em;
}
 th, td {
    border: 1px solid purple;
    border-radius: 10px;
   font-size:1em;
  }
 tr {
   max-height: 60px;
 }
 .firstCol {
    width:150px;
  }

#upper {
  grid-column: 1/2;
  grid-row:1
};
#lower {
  grid-column:2/3;
  grid-row:1
}
button {
  border-width:0;
  font-size: 0.75em;
}
th {
  font-size:1em;
}
.editable {
  background-color: orange;
  border-width: 4px;
  border-radius: 8px;
}
.chosenRow {
  background-color: #ffddc8;
  border-width:4px;
  border-radius: 8px;
}
.control {
  background-color:white;
  border-width:4px;
  border-radius: 8px;
  max-width:5cm;
}
.row {
  display:flex;
  margin-left:3px;

}

